#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  background-color: #f8f9fa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms, transform 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  transform: scale(1.1);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  transform: scale(1.1);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 200ms;
}

.card:hover {
  transform: translateY(-5px);
}

.read-the-docs {
  color: #646cff;
  font-weight: 500;
  text-decoration: underline;
}

/* Sidebar */
.sidebar {
  background-color: #000;
  color: #fff;
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Nasconde la sidebar su mobile */
@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
}
